<div class="search">
  <SearchBox
    @tokenConfig=this.tokenConfig
    @value=this.query
    @onValueChanged={{action "valueDidChange"}}
    @onActiveTokenChanged={{action "updateActiveToken"}}
    @onSearchTriggered={{action "performSearch"}}
    @onClear={{action "performSearch"}}></SearchBox>
  {{#if this.showModifierList}}
    <SearchModifiers
      @hintList=this.hintList
      @focusOnInput=this.focusOnInput
      @onSelect={{action "didSelectModifier"}}></SearchModifiers>
  {{/if}}
</div>
