<div class="search-box">
  <textarea
    rows=1
    autocomplete="off"
    autocapitalize="none"
    spellcheck="false"
    class="search-box-input"
    placeholder={{@placeholder}}
    value={{this.internalValue}}
    maxlength={{this.maxlength}}
    disabled={{@disabled}}
    oninput={{action "updateInternalValue"}}
    onpaste={{action "updateInternalValue"}}
    oncut={{action "updateInternalValue"}}
    onclick={{action "didClick"}}
    onfocusin={{action "didReceiveFocus"}}
    onfocusout={{action "didLoseFocus"}}
    onkeydown={{action "onKeyDown"}}
    onkeyup={{action "onKeyUp"}}>{{this.internalValue}}</textarea>
  <div class="search-box-hints">{{{backgroundText}}}</div>
</div>
